{{ if $.Site.Data.theme.widgets.widget_resent | default true }}
<section class="sidebar-widget">
    <div class="widget-resent">
       <div class="widget-header">
           <h3 class="widget-title widget-title__line">Artikel Terbaru</h3>
       </div>
        
        {{ $recent_articles_num := (.Site.Params.widgets.recent_articles_num | default 6) }}
        {{- range first $recent_articles_num (where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post"))) }}
        <div class="widget-post clearfix">
            {{ if .Params.thumbnail }}
            <img src="{{ .Params.thumbnail | relURL }}" alt="" class="widget-post__image">
            {{ end }}
            <div class="widget-post__body">
                <a href="{{ .RelPermalink }}" class="widget-post__title-link title-link"><p class="widget-post__title">{{ .Title }}</p></a>
            </div>
        </div>   
        {{ end }}
    </div>
</section>
{{ end }}
