/* Site Header
/* ---------------------------------------------------------- */

:root {
    --nav-height: 52px;
}
/*header top*/
.heading-brand {
    padding: 1.5em 0 0.5em;
}
.heading-support {
    display: flex;
    justify-content: flex-end;
    color: var(--secondary-text-color);
    padding: 1.5em 0 1em;
}
.heading-support__box {
    display: flex;
    align-items: center;
    margin-right: 1em;
    
    & .icon-support {
        display: inline-block;
        font-size: 3.6rem;
        color: var(--accent-color);
        margin-right: 8px;
    }
}
.heading-text__box {
    display: inline-block;
}
.heading-support__label {
    font-family: var(--font-heading);
    font-weight: 500;
}
.heading-support__text {
    font-size: 1.4rem;
    font-weight: 400;
}

/*menu*/
.header-nav {
    position: relative;
    height: var(--nav-height);
}
.nav-menu {
    border-top: 1px solid var(--border-color);
}

.menu,
.menu-item,
.submenu-item {
    padding: 0;
    margin: 0;
}
.menu,
.menu-dropdown {
    list-style: none;
}
.menu-dropdown {
    margin: 0;
}
.menu-item {
    float: left;
    
    & .toggle {
        padding-left: 1em;
    }
}
.menu-item__link,
.menu-item__link:visited {
    display: block;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: var(--nav-height);
    color: var(--lightgrey-text-color);
    text-decoration: none;
    padding: 0 1em;
    
    &:hover,
    &:active {
        color: var(--link-color);
        text-decoration: none;
    }
}
.toggle:before {
    content: '\e817';
    font:normal normal normal 16px/1 Fontello;
}

.menu-dropdown {
    position:absolute;
    width:230px;
    background: var(--body-dark-bg);
    border: 1px solid var(--border-color);
    padding: 1em;
    display: none;
    z-index: 99;
    
    & li {
        display: block;
        
        & a {
            display: block;
        }
    }
}

.submenu-item {
    padding: 6px 0;
    border-bottom: 1px solid var(--border-color);
    
    &:last-child {
        border-bottom: none;
    }
}
.submenu-item__link {
    color: var(--secondary-text-color);
    
    &:hover {
        color: var(--link-color);
        text-decoration: none;
    }
}
.mobile-icon {
    display: none;
}
@media (--only-large-screen) {
    .heading-wrapper,
    .nav-wrapper {
        padding: 0 1.5em;
    }
}
@media (--only-medium-screen) {
    .heading-wrapper,
    .nav-wrapper {
        padding: 0 1.5em;
    }
}
@media (--small-screen) {
    .nav-menu {
        width: 270px;
        position: absolute;
        min-height: 780px;
        height: 100%;
        padding: 0;
        border-top: solid 5px #fcbd39;
        top: -79px;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: all .3s ease;
        z-index: 99;
    }
    .menu-dropdown {
    position: relative;
}
    .nav-menu-active {
        transform: translateX(0);
    }
    .menu {
        padding: 1.5em 2em;
    }
    .menu-item {
        float: none;
    }
    .menu-item__link {
        font-weight: normal;
        line-height: 36px;
        padding: 0;
    }
    .nav-toggle {
        position: absolute;
        left: 1.5em;
        top: 13px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        z-index: 999;
    }
    .nav-toggle.active {
        top: -50px;
        left: 280px;
    }
    .nav-toggle__item,
    .nav-toggle__item:before,
    .nav-toggle__item:after {
        cursor: pointer;
        height: 4px;
        width: 28px;
        background: var(--main-bg);
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    .nav-toggle__item:before {
        top: -8px;
    }
    .nav-toggle__item:after {
        bottom: -8px;
    }
    .nav-toggle.active .nav-toggle__item {
        background-color: transparent;
        
        &:before,
        &:after {
            background: var(--nav-bg);
            top: 0;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        
        &:after {
            transform: rotate(-45deg);
        }
    } 
    .mobile-icon {
        display: block;
        font-size: 22px;
        color: var(--light-text-color);
        position: absolute;
        top: 13px;
    }
    .mobile-icon__heart {
        right: 2.5em;
    }
    .mobile-icon__wa {
        right: 1em;
    }
}


@media (--small-screen) {
    .site-logo {
        text-align: center;
        
        & img {
            max-width: 190px;
        }
    }
    .heading-brand {
        padding: 1em 0;
    }
}