<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    {{.Hugo.Generator}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ $.Site.Params.author }}">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ partial "seo.html" . }}
    <link rel="shortcut icon" href="{{ "/" | relURL}}{{ $.Site.Params.favicon }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700|Open+Sans">
    <link rel="stylesheet" type="text/css" href="{{ "css/fontello.css" | relURL}}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL}}" />
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
    {{ end }}
    {{ partial "schema.html" . }}
    {{ if $.Site.Params.googleTagManagerID }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ $.Site.Params.googleTagManagerID }}');</script>
    <!-- End Google Tag Manager -->
    {{end}}
    {{ if $.Site.Params.googleAnalyticsUserID }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Params.googleAnalyticsUserID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ $.Site.Params.googleAnalyticsUserID }}');
    </script>
    {{end}}
    {{ if $.Site.Params.facebookPixelID }}
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '{{ $.Site.Params.facebookPixelID }}');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id={{ $.Site.Params.facebookPixelID }}&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    {{ end }}
    </head>
<body>{{ if $.Site.Params.googleTagManagerID }}
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.googleTagManagerID }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{end}}
<!-- End Google Tag Manager (noscript) -->
    <div class="site-wrapper">
        {{ partial "menu.html" . }}